@keyframes floating {
    from {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(30px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  @keyframes pointing_down {
    from {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(10px);
    }
    to {
      transform: translateY(0px);
    }
  }
  
  body,
  .conteiner-fluid {
    background-color: #363636;
    font-family: 'Open Sans', sans-serif;
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    ;
  }
  
  .header {
    background-color: #363636;
    color: white;
  }
  
  .logo {
    display: flex;
    align-items: center;
    place-content: center;
  }
  
  .marca {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    ;
    font-weight: bold;
    font-size: 22.5px;
  }
  
  .apresentacao-game {
    background-image: url(img/bg-woman1.png);
    background-position: left -110px;
    height: 970px;
  }
  
  .red-personagem {
    padding: 10px 0px 0px 0px;
    margin-left: 30px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
  }
  
  .frase-red-personagem {
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #F0F0F2;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin-top: 32px;
    position: absolute;
    bottom: 30px;
    left: 165px;
  }
  
  .personagem-principal {
    width: 526px;
    height: 754px;
    margin: 0px 25px;
  }
  
  .imagem-principal {
    display: flex;
    justify-content: center;
    color: #F0F0F2;
  }
  
  .pena1 {
    width: 30%;
    position: relative;
    animation-duration: 5s;
    animation-name: floating;
    animation-iteration-count: infinite;
  }
  
  .left1 {
    left: -65px;
    bottom: 443px;
    animation-delay: 0ms;
  }
  
  .left2 {
    left: 9px;
    bottom: 456px;
    width: 20%;
    animation-delay: 1000ms;
  }
  
  .right1 {
    bottom: 757px;
    left: 402px;
    width: 33%;
    animation-delay: 750ms;
  }
  
  .right2 {
    left: 488px;
    bottom: 760px;
    animation-delay: 500ms;
  }
  
  .bg-red {
    background-image: url(img/bg-red.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    height: 970px;
    position: relative;
  }
  
  .transicao-personagens {
    background-color: #363636;
    display: flex;
    justify-content: center;
    animation-duration: 2s;
    position: absolute !important;
    animation-name: pointing_down;
    animation-iteration-count: infinite;
  }
  
  .transicao-personagens a,
  .transicao-personagens a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  .transicao {
    text-align: center;
    font-size: 23px;
    letter-spacing: 0px;
    background-color: #F0F0F2;
    text-shadow: 0px 3px 6px #00000029;
    width: 28px;
    height: 47px;
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    top: -25px;
    z-index: 1;
  }
  
  .down {
    display: flex;
    color: white;
    font-family: unset;
    position: relative;
    top: -42px;
    right: -7.5px;
  }
  
  .personagens {
    background-color: #363636;
    height: 1100px;
    padding-top: 60px;
  }
  
  .men {
    margin-left: 2px;
  }
  
  .arrow {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .seta {
    color: #FFFFFF;
    font-size: 83px;
    font-family: auto;
    position: relative;
    top: -150px;
  }
  
  .no-margin {
    margin-right: 10px !important;
  }
  
  .detalhe-personagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    color: #363636;
    margin-right: -6px;
  }
  
  .white-border {
    background: #363636 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 86px;
    width: 363px;
    height: 440px;
    z-index: 1;
  }
  
  .personagem-text {
    width: 387px;
    height: 600px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FFFFFF63;
    border-radius: 31px;
    padding: 25px;
    position: absolute;
    z-index: 0;
    top: 230px;
    padding-top: 360px;
  }
  
  .personagem-text p {
    font-size: 20px;
    line-height: 25px;
  }
  
  .personagens img {
    position: absolute;
    width: 379px;
    height: 525px;
    top: 51px;
    z-index: 2;
    opacity: 1;
  }
  
  .personagens span {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FFFFFF63;
    border-radius: 27px;
    opacity: 1;
  }
  
  .formulario {
    background: transparent linear-gradient(143deg, #7DEDE2 0%, #58B790 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 750px;
  }
  
  .posicao-form {
    text-align: -webkit-center;
  }
  
  .nome {
    text-align: right;
  }
  
  .email {
    text-align: left
  }
  
  .mensagem {
    margin-top: 20px;
  }
  
  .form-button {
    padding: 30px 10px;
    margin-left: 208px !important;
  }
  
  .bg-form {
    width: 1082px;
    height: 832px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000004D;
    opacity: 1;
    padding: 70px;
    position: relative;
    z-index: 1;
    margin-top: -40px;
    border-radius: 9px;
  }
  
  .bg-form h3 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    ;
    letter-spacing: -0.88px;
    color: #63C7A9;
    text-transform: uppercase;
    padding-top: 40px;
  }
  
  .bg-form p {
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
    padding: 20px 92px;
  }
  
  .start-form {
    padding-top: 30px;
  }
  
  input,
  textarea {
    border: 1px solid #363636;
    height: 48px;
    width: 247px;
    padding: 10px;
  }
  
  textarea {
    width: 530px;
    height: 197px;
  }
  
  button {
    float: left;
    width: 160px;
    height: 38px;
    background-color: #63C7A9;
    color: #FFFFFF;
    border: none;
    margin-top: 10px;
  }
  
  .up {
    background: #363636 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 410px;
  }
  
  .up-border {
    margin: 55px;
  }
  
  .up-border a,
  .up-border a:hover {
    color: inherit;
    text-decoration: none;
  }
  
  .up p {
    margin-left: auto;
    width: 107px;
    height: 107px;
    border-radius: 53px;
    font-size: 109px;
    font-weight: 100;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 2px solid #363636;
    padding-top: 23px;
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  /* TABLET */
  
  @media (max-width: 1024px) {
    .personagens {
      height: 1915px;
      padding-top: 120px;
    }
    .detalhe-personagem {
      margin-right: 10px;
      margin-left: 0;
      padding-top: 0;
      margin-bottom: 279px;
    }
    .arrow,
    .seta {
      display: none;
    }
    .white-border {
      height: 292px;
    }
    .personagem-text {
      width: 50%;
      height: 411px;
      padding: 41px;
      padding-top: 209px;
      top: 114px;
    }
    .personagens img {
      width: 197px;
      height: 321px;
      top: -26px;
    }
    .bg-form {
      width: 83%;
      height: 823px;
      padding: 30px;
    }
    .form-button {
      margin-left: 24px !important;
    }
    .up-border {
      margin: 85px;
    }
  }

  /* IPAD PRO */
  @media only screen 
  and (min-width: 1024px)
  and (max-width: 1050px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .personagens {
        height: 900px;
    } 
    .personagens img {
        width: 220px;
        height: 329px;
        top: -36px;
    }
     .white-border{
        width: 264px;
    }
    .personagem-text {
        width: 280px;
        height: 500px;
        padding: 28px;
        padding-top: 209px;
    }
    .detalhe-personagem{
        margin-right: 0;
        margin-left: 43px;
    }

}
  
  
  /* MOBILE */
  
  @media (max-width: 640px) {
    .marca {
      font-size: 17px
    }
    .personagem-principal {
      height: 400px;
      width: 280px;
    }
    .apresentacao-game {
      height: 530px;
    }
    .pena1 {
      display: none;
    }
    .bg-red {
      width: 100%;
      height: 530px;
      display: flex;
      align-items: center
    }
    .frase-red-personagem {
      font-size: 11px;
      bottom: 10px;
      left: 105px;
    }
    .transicao-personagens {
      display: none;
    }
    .personagens {
      height: 1395px;
      padding-top: 60px;
    }
    .apresentacao-game {
      background-position: -500px -425px;
    }
    .white-border {
      height: 203px;
      width: 258px;
    }
    .detalhe-personagem {
      margin-right: 4px;
      padding-top: 0px;
      margin-bottom: 150px;
    }
    .personagens img {
      width: 153px;
      height: 237px;
      top: -33px;
    }
    .personagem-text {
      width: 88%;
      height: 304px;
      padding: 25px;
      padding-top: 138px;
      top: 77px;
    }
    .arrow,
    .seta {
      display: none;
    }
    .bg-form p {
      font-size: 12px;
    }
    input,
    textarea {
      height: 48px;
      width: 100%;
    }
    .personagem-text p {
      font-size: 14px;
    }
    .bg-form {
      margin-top: 45px;
      height: 625px;
      width: 100%;
    }
    .bg-form h3 {
      font-size: 33px;
    }
    .bg-form p {
      padding: 0;
    }
    .start-form {
      padding-top: 0px;
    }
    .mensagem {
      margin-top: 0;
    }
    .form-button {
      margin-left: 10px !important;
    }
    .up {
      height: 200px;
    }
    .up-border {
      margin: 23px;
    }
    .up p {
      width: 50px;
      height: 50px;
      border-radius: 25px;
      font-size: 53px;
      padding-top: 15px;
    }
  }