body, .conteiner-fluid{
    background-color: #363636;
    font-family: 'Open Sans', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;;    
}

.header{
    background-color: #363636;
    color: white;
}
.logo{
    text-align: right;
}
.marca h3{
    display: flex;
    margin-top: 36px;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-size: 22.5px;
}
.apresentacao-game{
    background-image: url(img/bg-woman1.png);    
    background-position: center;
    height: 1080px;
    margin-bottom: -13px;
}
.red-personagem{
    padding: 10px 0px 0px 0px;
    margin-left: 30px;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
}
.frase-red-personagem{
    text-align: center;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #F0F0F2;
    text-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}
.imagem-principal{
    display: flex;
    justify-content: center;
    color: #F0F0F2;
}
.bg-red{
    background-image: url(img/bg-red.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    display: flex;
    flex-direction: column;
}
.personagem-principal{
    height: 903px;
}
.transicao-personagens{
    background-color: #363636;
    display: flex;
    justify-content: center;
}
.transicao{
    text-align: center;
    font-size: 23px;
    letter-spacing: 0px;
    background-color: #F0F0F2;
    text-shadow: 0px 3px 6px #00000029;
    width: 28px;
    height: 47px;
    font-weight: bold;
    border-radius: 15px;
    position: relative;
    top: -10px;
    z-index: 1;
}
.down{
    display: flex;
    flex-direction: column-reverse;
    color: white;
    font-family: revert;
    font-weight: 100;
    position: relative;
    top: 8px;
    right: 17px;
}
.personagens{
    background-color: #363636;
    height: 850px;
}
.men{
    margin-left: 2px;
}
.seta{
    color: #FFFFFF;
    font-size: 83px;
    padding-top: 300px;
    font-family: auto;
    margin-left: 14px;
}
.no-margin {
    margin-right: 10px !important;
}
.detalhe-personagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    color: #363636;    
    margin-right: 50px;
}
.white-border{
    background: #363636 0% 0% no-repeat padding-box;
    border: 3px solid #FFFFFF;
    border-radius: 86px;
    width: 314px;
    height: 356px;
    z-index: 1;
}
.personagem-text{
    width: 350px;
    height: 450px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FFFFFF63;
    border-radius: 31px;
    padding: 25px;
    position: absolute;
    z-index: 0;
    top: 195px;
    padding-top: 300px;
}
.personagens img{
    width: 95%;
    position: absolute;
    top: 49px;
    z-index: 2;
    opacity: 1;
    
}
.personagens span{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #FFFFFF63;
    border-radius: 27px;
    opacity: 1;
}
.formulario{
    background: transparent linear-gradient(143deg, #7DEDE2 0%, #58B790 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 550px;
}
.posicao-form{
    text-align: -webkit-center;
}
.nome{
    text-align: right;
}
.email{
    text-align:left
}
.mensagem{
    margin-top: 20px;
}
.bg-form{
    width: 70%;
    height: 640px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000004D;
    opacity: 1;
    padding: 70px;
    position: relative;
    z-index: 1;
    margin-top: -40px;
}
.bg-form h3{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;;
    letter-spacing: -0.88px;
    color: #63C7A9
}
.bg-form p{
    text-align: left;
    font-size:  20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #363636;
    opacity: 1;
    padding-top: 20px;
}
.start-form{
    padding-top: 30px;
}
input, textarea{
    border: 1px solid #363636;
    height: 48px;
    width: 247px;
}
textarea{
    width: 530px;
    height: 197px;
    
}
button{
    float: left;
    width: 160px;
    height: 38px;
    background-color: #63C7A9;
    color:#FFFFFF;  
    border: none;  
    margin-top: 10px;
}

.up{
    background: #363636 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 200px;
    
}
.up-border{
    margin: 55px;
}
.up p{
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-size: 51px;
    font-weight: 100;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    border: 2px solid #363636;
    padding: 18px 0px 8px 11px;
    font-family: serif;
    display: flex;
    align-items: center;
}